<h1>Edit your Account Information</h1>

<%= form_for(@user) do |p| %>
    <ul>
    <%= @user.errors.full_messages.each do |error| %>
    <li><%= error %></li>
    <% end %>
    
    <p>
        <%= p.label :username %><br />
        <%= p.text_field :username %>
    </p>
    <p>
        <%= p.label :password %><br />
        <%= p.text_field :password %>
    </p>

    <p>
        <%= p.label :email %><br />
        <%= p.text_field :email %>
    </p>

    <p>
        <%= p.submit %>
    </p>

<% end %>